body {
    background-color: #CCF3EE; 
    
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #97C4B8;
    border-width: 5px;
               width: 5%;  
}

img {
    height: 200px
}

h1 {
    color: #1572A1;
}

h3 {
    color: #1572A1;
}